<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{title}}</title>
    <link  href="{{url_for('static', filename='assets/bootstrap-4/css/bootstrap.min.css')}}"  rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'assets/bootstrap-4/css/bootstrap-reboot.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'assets/bootstrap-4/css/bootstrap-grid.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'assets/stylesheet/style.css')}}"
    />

    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename = 'assets/menujs/mmenu.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename ='assets/stylesheet/inside-style.css')}}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'assets/bootstrap-4/js/bootstrap.min.js')}}"></script>

  </head>
  <body>
    <div class="container-fluid zerropm">
      <div class="header-wrapper">
        <div class="logo1">
          <a href="/home"><img src="{{url_for('static', filename = 'assets/images/logo.png')}}"/></a>
        </div>
        <ul class="navigation">
          <li style="font-size:20px"><a href="/ideas">Ideas</a></li>
          <li style="font-size:20px"><a href="/join-us">Join Us</a></li>
          <li style="font-size:20px">
            <a href="/login">Login</a>
          </li>
          <li style="font-size:20px"><a href="/how-to-work">How It Works</a></li>
        </ul>
        <div class="hambar" onclick="hambbar_handler()">
          <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
          </svg>
        </div>
      </div>
    </div>

    <div class="container-fluid content-place zerropm bg-white">

    <!--Inside Page--> 
    <div id="InsidePage" class="InsidePage">
        <div class="menuHeader">
            <a href="#menu"><span></span></a>
        </div>
        <div class="content zerropm bg-white">
            <div>
            under constructions
            </div>
        </div>

        <nav id="menu">
            <ul>
                <li><a href="#">Coop Crowd</a></li>
                <li><a href="#">Dashboard</a></li>
                <li>
                    <span>Campaigns</span>
                    <ul>
                        <li><a href="#">Start a Compaings</a></li>
                        <li><a href="#">View Campaings</a></li>
                        <li><a href="#">Donation To Compaings</a></li>
                    </ul>
                </li>
                <li>
                    <span>Donations</span>
                    <ul>
                        <li><a href="#">Donations to Send</a></li>
                        <li><a href="#">Donations to Mark Received</a></li>
                        <li><a href="#">Donations Sent</a></li>
                        <li><a href="#">Donation Received</a></li>
                        <li><a href="#">Make a one time Donation</a></li>
                        <li><a href="#">one-Time Donation Recedived</a></li>
                        <li><a href="#">One-Time Donations Sent</a></li>
                    </ul>
                   
                </li>
                 <li>
                    <span>My WheelHouse</span>
                    <ul>
                        <li><a href="#">Open WheelHouses</a></li>
                        <li><a href="#">Closed WheelHouse</a></li>
                    </ul>
                </li>
                <li>
                    <span>My Money</span>
                    <ul>
                        <li><a href="#">Add Funds to My Digial Wallets</a></li>
                        <li><a href="#">Withdraw Your Funds</a></li>
                        <li><a href="#">Member to Member Transfer</a></li>
                        <li><a href="#">My Wallet Transactions</a></li>
                    </ul>
                </li>
                <li>
                    <span>Tokens</span>
                    <ul>
                        <li><a href="#">My Available Tokens</a></li>
                        <li><a href="#">Assign Token to a Teammate</a></li>
                        <li><a href="#">Purchased Token History</a></li>
                        <li><a href="#">Assigned Tokens</a></li>
                    </ul>
                </li>
                <li>
                    <span>My 20/20 Mass Team</span>
                    <ul>
                        <li><a href="#">My Donors</a></li>
                        <li><a href="#">My Pending Donor</a></li>
                        <li><a href="#">Register New Donor</a></li>
                        <li><a href="#">Renew a Lapsed Donor</a></li>
                        <li><a href="#">share 20/20 Donoer Key</a></li>
                        <li><a href="#">Assign Token to TeamMates</a></li>
                    </ul>
                </li>
                <li>
                    <span>My Profile</span>
                    <ul>
                        <li><a href="#">Edit My profile</a></li>
                        <li><a href="#">Change My  passowd</a></li>
                        <li><a href="#">change One time keys </a></li>
                    </ul>
                </li>
                <li><a href="#"> Marketings Tools</a></li> 
                <li class="Divider">Other demos</li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </div>

    <!--end Inside Page-->
    </div>
       <!--Footer Portion -->
       <div class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <strong class="footer-title">About 20/20 Mass donation </strong>
              <p class="ftextpg">
                20/20 mass donation is the must successul mass funding system in
                the world todays Register now and donate to person growth your
                capital, mass donation team is always rewarding capital for all.
              </p>
            </div>
            <div class="col-md-4">
              <strong class="footer-title"> QUICK LINKS </strong>
              <div class="row mrow">
                <ul class="footer-navlist col-md-6">
                  <li><a href="/how-to-work"> How to works ? </a></li>
                  <li><a href="/ideas">Ideas</a></li>
                  <li><a href="/join-us">Join us </a></li>
                  <li><a href="/login"> login </a></li>
                </ul>
                <ul class="footer-navlist col-md-6">
                  <li><a href="/common-question">Common Questions</a></li>
                  <li><a href="/guarantee-policy">Guarantee Policy</a></li>
                  <li><a href="/terms">Terms & Conditions</a></li>
                  <li><a href="/privacy">Privacy Policy</a></li>
                  <li><a href="/desclaimer">Disclaimer</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <strong class="footer-title"> SOCIAL MEDIAS </strong>
              <p class="ftextpg">
                Visit our social media pages and follow us for our future updates.
              </p>
            </div>
          </div>
        </div>
        <div class="hline"></div>
        <p>Copyright @ 2020 - 20/20 Mass-Donation - All Right Reserved</p>
      </div>
      <!--End Footer Portion -->

      <!--Inside Javascrip Laod-->
      <script src="{{url_for('static', filename = 'assets/menujs/mmenu.polyfills.js')}}"></script>
      <script src="{{url_for('static', filename = 'assets/menujs/mmenu.js')}}"></script>
      <script src="{{url_for('static', filename = 'assets/js/common.js')}}"></script>

        <script>
            new Mmenu(document.querySelector('#menu'));
            document.addEventListener('click', function (evnt) {
                var anchor = evnt.target.closest('a[href^="#/"]');
                if (anchor) {
                    evnt.preventDefault();
                }
            });
        </script>
  </body>
</html>