
.InsidePage{ height: 100vh; padding: 0px; margin: auto;}
.menuHeader, .content {
	text-align: center;
}
.menuHeader.fixed {
	position: fixed;
	top: 0;
	left: 0;
}
.menuHeader a {
	display: block;
	width: 32px;
	height: 18px;
	padding: 2px;
	margin: 2px;

}
.menuHeader a:before,
.menuHeader a:after {
	content: '';
	display: block;
	background: #000;
	height: 2px;
}
.menuHeader a span {
	background:  #000;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.content {
	padding: 150px 50px 50px 50px;
}