<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{ title }}</title>
    <link  href="{{url_for('static', filename='assets/bootstrap-4/css/bootstrap.min.css')}}"  rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'assets/bootstrap-4/css/bootstrap-reboot.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'assets/bootstrap-4/css/bootstrap-grid.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename = 'assets/stylesheet/style.css')}}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename= 'assets/bootstrap-4/js/bootstrap.min.js')}}"></script>

  </head>
  <body>
    <div class="container-fluid zerropm">
      <div class="header-wrapper">
        <div class="logo1">
          <a href="/home"><img src="{{url_for('static', filename = 'assets/images/logo.png')}}"/></a>
        </div>
        <ul class="navigation">
          <li style="font-size:20px"><a href="/ideas">Ideas</a></li>
          <li style="font-size:20px"><a href="/join-us">Join Us</a></li>
          <li style="font-size:20px"><a href="/login">Login</a></li>
          <li style="font-size:20px"><a href="/how-to-work">How It Works</a></li>
        </ul>
      </div>
    </div>

    <div class="commques">
        <h1>Common Questions & Answers</h1>
    </div>

    <div>
        <form style="width: 95%; margin:auto; padding:10px;">
        <h1 style="text-align:center; font-weight:bold;">Here are the most frequently asked questions</h1>
        <br><br><br>

        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <span class="num">1</span>
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <b> WHAT IS 20/20 MASS DONATIONS?</b>
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <span class="num">2</span>
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <b>HOW DOES IT WORK?</b>
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <span class="num">3</span>
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b>HOW TO JOIN?</b>
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <span class="num">4</span>
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <b>WHAT MAKES 20/20 DIFFERENT THAN ANYTHING EVEN REMOTELY CLOSE?</b>
                  </button>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
           </div>
        </form>
    </div>
    
    <!--Footer Portion -->
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <strong class="footer-title">About 20/20 Mass donation </strong>
            <p class="ftextpg">
              20/20 mass donation is the must successul mass funding system in
              the world todays Register now and donate to person growth your
              capital, mass donation team is always rewarding capital for all.
            </p>
          </div>
          <div class="col-md-4">
            <strong class="footer-title"> QUICK LINKS </strong>
            <div class="row mrow">
              <ul class="footer-navlist col-md-6">
                <li><a href="/how-to-work"> How to works ? </a></li>
                <li><a href="/ideas">Ideas</a></li>
                <li><a href="/join-us">Join us </a></li>
                <li><a href="/login"> login </a></li>
              </ul>
              <ul class="footer-navlist col-md-6">
                <li><a href="/common-question">Common Questions</a></li>
                <li><a href="/guarantee-policy">Guarantee Policy</a></li>
                <li><a href="/terms">Terms & Conditions</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/desclaimer">Disclaimer</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <strong class="footer-title"> SOCIAL MEDIAS </strong>
            <p class="ftextpg">
              Visit our social media pages and follow us for our future updates.
            </p>
          </div>
        </div>
      </div>
      <div class="hline"></div>
      <p>Copyright @ 2020 - 20/20 Mass-Donation - All Right Reserved</p>
    </div>
    <!--End Footer Portion -->

    <script >
      $('.collapse').collapse()
    </script>
  </body>
</html>
