.navigation {
  list-style-type: none;
  margin: 2;
  padding: 6;
  overflow: hidden;
  border: 0px solid #e7e7e7;
  background: #7aad2d;
}

.logo1 img {
  position: absolute;
  margin-left: 60px;
  margin-top: 4px;
}

.navigation li {
  float: right;
}

.navigation li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #ddd;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.container {
  background: #aaa;
}
.table tr th {
  font-weight: normal;
}
.table td,
.table th {
  border-top: none;
}
