html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.header-wrapper {
  background: #7aad2d;
  border: 0px solid #e7e7e7;
  display: flow-root;
}
.navigation {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  float: right;
}
.logo1 {
  margin-right: 20px;
  float: left;
}
.logo1 img {
  margin-left: 20px;
  margin-top: 4px;
}
.navigation li {
  float: left;
}
.navigation li.active {
  background-color: #ededed;
}
.navigation li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #ddd;
}
.table tr th {
  font-weight: normal;
}
.table td,
.table th {
  border-top: none;
}
/* Style for Panel desing */
.panel {
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #aaa;
}
.panel .panel-heading {
  padding: 4px;
  text-align: left;
  line-height: 20px;
  min-height: 32px;
  border-bottom: 1px solid #aaa;
}
.panel-primary .panel-heading {
  background-color: #5c96fa;
  color: #2a2b2b;
}
.panel-default .panel-heading {
  background-color: #d9dadb;
  color: #2a2b2b;
}
.panel .panel-body {
  padding: 2px 4px;
  width: 100%;
}
/* Style end */

/*login box */
.loginsec{
  padding: 27px 21px;
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
    border: 2px solid black;
    border-radius: 0 10px 10px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3), 0 10px 30px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3), 0 10px 30px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3), 0 10px 30px -5px rgba(0, 0, 0, 0.28);
}
